body {
    background: rgb(113, 200, 224);
    font: 15pt Verdana;
    background: url('image/7THg.gif');
}

header {
    margin-top: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(104, 102, 102);
}

section {
    background:  rgba(101, 93, 60, 0.903);
    color: white;
    border-radius: 45px;
    padding: 10px;
    width: 550px;
    margin: auto;
    box-shadow: 2px 2px 10px rgb(104, 102, 102);
}
#dados{

    display: flex;
    align-items: center;
}
div {
    text-align: left;
    margin-left: 2%;
}

#res {
    margin-top: 10px;
}

footer {
    font-style: italic;
    color: rgba(255, 255, 255, 0.781);
    text-align: center;

}